%h1 Comments

%hr

%table{:class => 'table table-striped'}
  %thead
    %tr
      %th Text
      %th Article
      %th Name
      %th Created at
      %th Status
      %th Removal
  %tbody
    - @comments.each do |comment|
      %tr
        %td= truncate(strip_tags(comment.body), length: 38)
        %td= link_to(Article.find(comment.article_id).title, "/articles/#{comment.article_id}#comments") 
        %td= comment.commenter
        %td= comment.created_at.to_formatted_s(:dutch_date)
        - if comment.published != 1
          %td= link_to 'Unpublished', publish_comment_path(comment.id), :class => "red"
        - else
          %td= link_to 'Published', unpublish_comment_path(comment), data: { confirm: 'Are you sure you wanna unpublish this comment?' }, :class => "green"
        %td= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure you wanna delete this comment?' }, :class => "red"

= will_paginate @comments, renderer: BootstrapPagination::Rails 