<%= form_for @article, :html => { :multipart => true }  do |f| %>
  <% if @article.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@article.errors.count, "error") %> prohibited
      this article from being saved:</h2>
    <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, :class => "form-control" %>
  </p>
  
  <p>
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </p>

  <p>
    <%= f.label :text %><br>
    <%= f.bootsy_area :text, :class => "form-control", :rows => "17" %> 
  </p>
  
  <% unless @authors.nil? %>
    <p>
      <%= f.label :author %><br>
      <%= f.select :author_id, @authors.map{ |a| [a.name, "#{a.id}"] }, :class => 'form-control' %>
    </p>
  <% end %>
 
  <p>
    <%= f.label :category %><br>
    <%= f.select(:category, ['','Nieuws', 'Evenementen'], {}, { :class => 'form-control' }) %>
  </p>

  <p>
    <%= f.submit 'Save', :class => "btn btn-primary" %>
  </p>
<% end %>
