<div class="author-detail">
  <% unless @author.avatar_file_name.nil? %>
    <div class="image-wrapper">
      <%= image_tag @author.avatar.url(:thumb) %>
    </div>
  <% end %>

  <h1>
    <%= @author.name %>
  </h1>

  <% unless current_user.blank? %>
    <%= link_to 'Edit this author', edit_author_path(@author), :class => 'edit-link', :title => 'Edit author' %>
  <% end %>
  <p>
    <%= @author.biography %>
  </p>

  <hr class="clear"/>
  <% unless @author_articles.nil? %>
  	<h4>Articles by user</h4>
    <hr />
    <div class="row">
      <% @author_articles.each do |article| %>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <% unless article.image_file_name.nil? %>
              <%= link_to image_tag(article.image.url(:playground_overiew)), article_path(article.id) %>
            <% else %>
              <a href="<%= article_path(article.id) %>"><div class="greyed-image"></div></a>
            <% end %>
            <div class="caption">
             <h2><%= link_to article.title, article_path(article.id) %></h2>
              <p><%= truncate(strip_tags(article.text), length: 34) %></p>
              <p><a href="<%= article_path(article) %>" class="btn btn-primary" role="button">Read more</a></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= will_paginate @author_articles, renderer: BootstrapPagination::Rails %>
  <% end %>

  <div class="quick-links">
    <%= link_to '< Back to author list', authors_path %>
  </div>
</div>