<!DOCTYPE html>
<html>
<head>
  <title>Paul's Rails Playground</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="outer">
	<div class="middle">
		<div class="site-wrapper">
			<div class="site-name"><a href="/">Paul's Rails Playground</a></div>
			<% unless current_user.blank? %>
				<%= nav_links %>
			<% end %>

		  <% flash.each do |key, value| %>
		    <div class="alert alert-<%= key %>"><%= value %></div>
		  <% end %>
		  
			<%= yield %>
		</div>
		<div class="copyright">&copy; Paul Rail's Playground - 
			<% unless current_user.blank? %>
				currently logged in as <%= current_user.email %>
			<% else %>
				<a href="/login">Login</a>
			<% end %>
		</div>
	</div>
</div>
</body>
</html>
